.index-box
  p#notice
    = notice
  .article-boxs
    - @posts.each do |post|
      article.article-box
        p
          = post.created_at
        h1
          = post.title
        .article-box-description
          p
            = link_to 'Edit', edit_post_path(post)
          p
            = link_to 'Show', post
          p
            = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
