<div class="index-box">
  <p id="notice"><%= notice %></p>
  <div class="article-boxs">
    <% @posts.each do |post| %>
    <article class="article-box">
      <%= post.created_at %>
      <h1><%= link_to post.title, post %></h1>
      <div class="delete-box"><%= link_to '×', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </article>
    <% end %>
  </div>

</div>
